<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/upload" method="post" enctype="multipart/form-data" class="layui-form">
    <button type="button" class="layui-btn" id="test1">
        <i class="layui-icon">&#xe67c;</i>上传图片
    </button>
    <p><input type="file" name="file">
        <input type="submit" value="Upload">
</form>

<form action="/merge" method="post" enctype="multipart/form-data">
    <p><input type="file" name="files" multiple="multiple">
        <input type="submit" value="merge">
</form>

</body>
</html>
<script src="/static/js/layui/layui.js" type="text/javascript">
    //一般直接写在一个js文件中
    layui.use(['layer', 'form','upload'], function(){
        var layer = layui.layer
            ,form = layui.form
            ,upload = layui.upload;

        // layer.msg('Hello World');
    });
</script>
<link rel="stylesheet" href="/static/js/layui/css/layui.css">
